@charset "UTF-8";
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500;1,700;1,900&display=swap');



/*Работа с документом*/

html,body{
  height:100%;
  padding: 0;
  margin: 0;
}
body {
  overflow: visible;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
footer{
  text-align: center;
  height: 70px;
  background: #db310d;
}
/*Работа с документом*/
.wrap_footer{
  display: flex;
  justify-content: space-around;
  
}
.we_whatsapp{
  flex-basis: 200px;
  background: #000;
  height: 60px;
  margin-top: 5px;
  min-width: 200px;
}
.logo_footer{
  height: 100%;
  width: 100%;
}
.we_instagramm{
  margin-top: 5px;
  margin-right: 8px;
}
.we_instagramm_logo{
  width: 64px;
  height: 64px;
  position: absolute;
  left: -2px;
  top: -1px;
}
.we_instagramm_wrap{
  position: relative;
  background: #40cabc;
  border: #2b9b90 solid 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.we_instagramm_title{
  position: absolute;
  top: 16px;
  left: -160px;
  background: #40cabc;
  border-radius: 5px 0 0 5px;
  width: 161px;
  border: #2b9b90 solid 2px;
  border-right: none;

}
.we_instagramm_logo:hover{
  transition: 0,9s;
  transform: rotate(15deg);
}
.we_instagramm_logo{
  transition: 1s;
  transform: rotate(0deg);
}





/*Работа с шапкой*/

svg{margin-top: 15px;margin-left: -30px;font-weight:bold;max-width:300px;height:auto;}
.header_title{

}
.wrapper_body{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  background: #4bd3c5;
 }
.content{
  display: flex;
  min-height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 540px;
 }
.container{
  max-width: 1200px;
  margin: 0 auto;

}
.header{
  background: #db310d;
  box-shadow: 0px 4px 1px #a82207;
  height: 90px;
}
.line{
  display: block;
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  background: #a82207;
}

/*Работа с шапкой*/

/*Работа с конентом 1 Блок*/

.content_body{
  flex: 1 1 auto;
}
.fix_b{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}
.fix_box{
  flex: 0 0 auto;
}
.fix_box_down{
  margin-top: -7px;
  max-height: 267px;
  max-width: 100%;
}
.ttt{
  width: 100%;
  max-height: 267px;
  background: #a82207;
}

.img_fix{
  max-width: 100%;
  max-height: 267px;
 
}
.img_fix1{
  max-width: 100%;
  max-height: 267px;
  filter: brightness(60%);
  
}

.fix_box_down{
  outline: 2px solid #a82207; 
  outline-offset: -5px;
}
.img_fix1:hover{
  opacity: 0.9;
}


/* #wrap_product9{
  position: relative;
  top: -292px;
  width: 285px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside{
  position: relative;
  top: -577px;
  width: 285px;
  height: 285.5px;
} */






@media only screen and (max-width: 2500px) and (min-width: 1950px) {
  .img_fix{
    max-width: 100%;
    max-height: 266.5px;
  }
 
}
@media only screen and (max-width: 1740px) and (min-width: 1200px) {
  .img_fix{
    max-width: 100%;
    max-height: 267px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 767px) {
  .img_fix{
    max-width: 100%;
    max-height: 267.1px;
  }
   .ttt{
    height: 265px;;
  }
}
@media only screen and (max-width: 760px) and (min-width: 734px) {
  .img_fix{
    max-width: 100%;
    max-height: 267px;
  }
}
@media only screen and (max-width: 733px) and (min-width: 641px) {
  .img_fix{
    max-width: 100%;
    max-height: 267.3px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 640px) {
  .img_fix{
    max-width: 100%;
    max-height: 267.2px;
  }
}
@media only screen and (max-width: 639px) and (min-width: 367px) {
  .img_fix{
    max-width: 100%;
    max-height: 267.4px;
  }
}
@media only screen and (max-width: 366.50px) and (min-width: 0px) {
  .img_fix{
    max-width: 100%;
    max-height: 267.4px;
  }
}
/* .my_product_flex_blocks a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: "HelveticaNeueCyr";
}
.my_product_flex_blocks_mini a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: "HelveticaNeueCyr";
} */

/*Работа с конентом 1 Блок*/







/*Работа с конентом 2 Блок*/

.img_product_a_after{
  max-height: 282px;
  position: absolute;
  left: 0;
}
.img_product_a{
  max-height: 282px;
  position: absolute;
}
.img_product_a_mini{
  max-height: 282px;
  position: absolute;
  left: 0;
}
.my_product_title{
  padding-top: 20px;
  margin-top: 20px;
}
.hr{
  height: 2px;
  width: 100%;
  background: #e8dcc27e;
  margin-top: 20px;
  border-radius: 20px ;
}
.wrapper_product{
  box-shadow: 0 -0.5px 0 #e8dcc2;
  background: #40cabc;
}
.mini_img{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
}

.mini_img_title{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e8dcc2;
  text-decoration: none;
  font-size: 22px;
  font-family: "HelveticaNeueCyr";
  
}
.product_text_title{
  font-family: "HelveticaNeueCyr";
  font-weight:lighter;
  color: #e8dcc2;
}

.my_product_flex{
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.my_product_flex_blocks{
  position: relative;
  flex: 0 1 50%;
  margin-bottom: 10px;
  height: 285px;
  flex-basis: 580px;
  margin-left: 10px;
  
}
.my_product_flex_blocks_mini{
  position: relative;
  flex: 0 1 50%;
  flex-basis: 285px;
  margin-bottom: 10px;
  width: 285px;
  height: 285px;
  margin-left: 10px;
}
.my_product_flex_blocks_aftermini{
  position: relative;
  flex: 0 1 50%;
  flex-basis: 580px;
  max-height: 285px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.my_product_flex_blocks_aftermini:nth-child(5){
  position: relative;
  text-align: center;
  flex: 0 1 50%;
  margin-left: 10px;
  flex-basis: 580px;
  max-height: 285px;
  margin-bottom: 10px;
}
.my_product_flex_blocks_mini:nth-child(7){
  position: relative;
  text-align: center;
  flex: 0 1 50%;
  flex-basis: 285px;
  margin-left: 12px;
  margin-bottom: 10px;
  width: 285px;
  height: 285px;
}
.my_product_flex_blocks_mini:nth-child(8){
  position: relative;
  text-align: center;
  flex: 0 1 50%;
  flex-basis: 285px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 285px;
  height: 285px;
}

.img_product{
width: 580px;
height: 285px;
}
.img_product_fon:after{
  content: '';
  width: 580px;
  height: 285px;
  position: absolute;
  top: 0; left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}
.img_product_fon_mini:after{
  content: '';
  width: 285px;
  height: 285px;
  position: absolute;
  top: 0; left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

#wrap_product{
  position: relative;
  top: -292px;
  width: 285px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside{
  position: relative;
  top: -577px;
  width: 285px;
  height: 285.5px;
}
#wrap_product2{
  position: relative;
  top: -292px;
  width: 285px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside2{
  position: relative;
  top: -577px;
  width: 285px;
  height: 285.5px;
}
#wrap_product3{
  position: relative;
  top: -292px;
  width: 580px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside3{
  position: relative;
  top: -577px;
  width: 580px;
  height: 285.5px;
}
#wrap_product4{
  position: relative;
  top: -292px;
  width: 580px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside4{
  position: relative;
  top: -577px;
  width: 580px;
  height: 285.5px;
}
#wrap_product5{
  position: relative;
  top: -292px;
  width: 285px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside5{
  position: relative;
  top: -577px;
  width: 285px;
  height: 285.5px;
}
#wrap_product6{
  position: relative;
  top: -292px;
  width: 285px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside6{
  position: relative;
  top: -577px;
  width: 285px;
  height: 285.5px;
}
#wrap_product7{
  position: relative;
  top: -292px;
  width: 580px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside7{
  position: relative;
  top: -577px;
  width: 580px;
  height: 285.5px;
}
#wrap_product8{
  position: relative;
  top: -292px;
  width: 580px;
  height: 285.5px;
  background-color: rgb(0, 0, 0, 0.5);

}
#wrap_product_inside8{
  position: relative;
  top: -577px;
  width: 580px;
  height: 285.5px;
}
.img_product_fon_hover_mini:hover{
  content: '';
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0; left: 0;
  background-color: rgb(255, 0, 0);
}
.img_product_mini{
  width: 285px;
  height: 285px;
}
.img_product_aftermini{
  width: 580px;
  height: 285px;
}


/*Работа с конентом 2 Блок*/







/*Работа с конентом 3 Блок*/

/* Form*/
.pop-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 100;
}
.popup-window {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -260px;
  margin-top: 20px;
}
.popup-window .inner {
  height: 450px;
  width: 380px;
  background: #F4F4F4;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
}
.popup-window .btn-close a{
  position: relative;
  text-decoration: 0;
  float: right;
  padding: 11px 7px 11px 7px;
  font-size: 12px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: #F4F4F4 1px solid;
  border-radius: 0 10px 0 10px;
}
.popup-window .btn-close{
  margin: -10px;
}

.popup-window .btn-close a:hover,
.popup-window .btn-close a:active,
.popup-window .btn-close a:focus {
  text-decoration: none;
  background: rgba(126, 126, 126, 0.5);
  border: none;
}
@media screen and (max-width: 600px) {
  .popup-window {
    margin-left: -45%;
  }
}

/*Form method close */

/*Inside Form*/

.input_text, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.input_submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 100px;
  left: 10px;
  width: 324px;
}

.input_submit:hover {
  background-color: #45a049;
}
.container1 {
  box-sizing: border-box;
  height: 450px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  background: #f70f0f;
  margin-top: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 90%;
  margin-bottom: 20px;
  margin-left: 10px;
  height: 20px;
  background: #45a049;
}
.form1{
  padding-top: 30px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

/*Работа с конентом 3 Блок*/







/*Carusel*/
.wrapper {
  max-width: 50em;
  margin: 3px auto;
  position: relative;
}
.input3 {
  display: none;
}
.inner {
  width: 500%;
  line-height: 0;
}

article {
  width: 20%;
  float: left;
  position: relative;
}
article img {
  width: 100%;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}
.slider-prev-next-control label:hover {
  opacity: 1;
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}
.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}

/* Info Box */
.info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transition: all 1000ms ease-out 600ms;
  -moz-transition: all 1000ms ease-out 600ms;
  transition: all 1000ms ease-out 600ms;
}
.info h3 {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
}
.info.top-left {
  top: 30px;
  left: 30px;
}
.info.top-right {
  top: 30px;
  right: 30px;
}
.info.bottom-left {
  bottom: 30px;
  left: 30px;
}
.info.bottom-right {
  bottom: 30px;
  right: 30px;
}

/* Slider Styling */
.slider-wrapper {
  width: 100%;
  overflow: hidden;


  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
  content: "◗";
  padding-top: 1px;
  padding-left: 0px;
}

#slide5:checked ~ .slider-prev-next-control label:nth-child(1), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide1:checked ~ .slider-prev-next-control label:nth-child(2) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "◖";
  padding-top: 1px;
  padding-left: 0px;
}

#slide5:checked ~ .slider-dot-control label:nth-child(5), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide1:checked ~ .slider-dot-control label:nth-child(1) {
  background: #333;
}

#slide5:checked ~ .slider-wrapper article:nth-child(5) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide1:checked ~ .slider-wrapper article:nth-child(1) .info {
  opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}
#slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}
#slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}
#slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}
#slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}
/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }

  .slider-wrapper .info {
    opacity: 0;
  }
}


