<div class="order_form">
        <a id="popup" href="javascript:void(0);">Open</a>

        <div class="pop-overlay">

            <div id="popup-window" class="popup-window">
                <div class="inner">
                    <div class="btn-close"><a href="javascript:void(0);">X</a></div>
                    <div class="container1">
                        <div class="zamer">
                            <h1>Заказать замер</h1>
                        </div>
                        <div class="form1">
                            <form action="{% url 'thank_after_form' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-75">
                                        {{ car_list.form_product.name }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-75">
                                        {{ car_list.form_product.phone }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-75">
                                        {{ car_list.form_product.email }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-75">
                                    {{ car_list.form_product.comment }}
                                    </div>
                                </div>
                            <button class="input_submit_close">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>