<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlanta</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <style>

    </style>
</head>
<body>
<div class="wrapper_body">
    <div class="content_body">
        <div class="header">
            <div class="container">
                <div class="header_title">
                    <a href="">
                        <svg viewbox="0 0 100 20">
                            <defs>
                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="5%" stop-color="#68fff0"/>
                                    <stop offset="95%" stop-color="#68fff0"/>
                                </linearGradient>
                                <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                    <path id="wavePath"
                                          d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z"
                                          mask="url(#mask)" fill="url(#gradient)">
                                        <animateTransform
                                                attributeName="transform"
                                                begin="0s"
                                                dur="1.5s"
                                                type="translate"
                                                from="0,0"
                                                to="40,0"
                                                repeatCount="indefinite"/>
                                    </path>
                                </pattern>
                            </defs>
                            <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="1">
                                ATLANTA
                            </text>
                            <text text-anchor="middle" x="50" y="15" font-size="17" fill="#e8dcc2"
                                  fill-opacity="0.6">ATLANTA
                            </text>
                            <!--                        #e8dcc2-->
                        </svg>
                    </a>
                    <a href="{% url 'catalog' %}">Catalog</a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        {% block thanks %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/script_content.js' %}"></script>
    </div>

    <footer>
        <div class="container">
            <div class="wrap_footer">
                <div class="we_whatsapp">

                </div>
                <div class="logo_footer">
                    <a href="">
                        <svg viewbox="0 0 100 20">
                            <defs>
                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="5%" stop-color="#68fff0"/>
                                    <stop offset="95%" stop-color="#68fff0"/>
                                </linearGradient>
                                <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                    <path id="wavePath"
                                          d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z"
                                          mask="url(#mask)" fill="url(#gradient)">
                                        <animateTransform
                                                attributeName="transform"
                                                begin="0s"
                                                dur="1.5s"
                                                type="translate"
                                                from="0,0"
                                                to="40,0"
                                                repeatCount="indefinite"/>
                                    </path>
                                </pattern>
                            </defs>

                            <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="1">
                                ATLANTA
                            </text>
                            <text text-anchor="middle" x="50" y="15" font-size="17" fill="#e8dcc2"
                                  fill-opacity="0.6">ATLANTA
                            </text>
                            <!--                        #e8dcc2-->
                        </svg>
                    </a>
                </div>

                <div class="we_instagramm">
                    <div class="we_instagramm_wrap">
                        <div class="we_instagramm_title">
                            МЫ В WHATSAPP
                        </div>
                        <img class="we_instagramm_logo" src="{% static  'images/WhatsApp_icon.png' %}" alt="">

                    </div>

                </div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>